@tailwind components;
@tailwind utilities;
@layer payload-default {
  body {
    font-size: 1rem;
  }

  :root {
    /*font-size: 1rem;*/
    /* --base: 24px;
  --gutter-h: 5rem;
  --block-padding: 120px; */
  }
}

/* .template-default {
  font-size: 0.85rem;
} 

/* .template-default__wrap {
  position: relative;
  min-width: 100%;
} */
